<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="./../assets/images/Logo.png"
             class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
          <!-- User name input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Username</label>
            <input type="text" class="form-control form-control-lg" formControlName="username" />
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control form-control-lg" formControlName="password" />
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <a href="javascript:void(0)" class="create-account-link" (click)="redirectToSignUp()">Create account?</a>
          </div>



          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); border: none;">
            Sign in
          </button>


          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <!-- Button to trigger navigation -->
          <button type="button" class="btn btn-primary btn-lg btn-block" style="background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); border: none;" (click)="redirectToSignup()">
            <i class="fas fa-envelope me-2"></i>Login with Email
          </button>

        </form>
      </div>
    </div>
  </div>
</section>
