<section class="watch-video">
  <div class="video-container">
    <div class="video">
      <video [src]="'http://localhost:8081/download/'+videoToshow" controls poster="images/post-1-1.png"
        id="video"></video>
    </div>
    <h3 class="title">{{chapitre.titre}}</h3>
    <div class="info">
      <p class="date"><i class="fa fa-calendar"></i><span>22-10-2022</span></p>
    </div>
    <div class="description-container">
      <p class="description">
        {{chapitre.description}}
      </p>
      <div class="button-container">
        <button class="download-button" (click)="downloadPdf()">
          Télécharger {{pdfFile}}
        </button>
        <button class="skip-button" *ngIf="showSkipButton" (click)="goToNextChapter()">
          Passer à un autre chapitre
        </button>
      </div>
    </div>
  </div>
</section>