<div class="container">
  <h2>Liste des chapitres</h2>

  <!-- Cartes des chapitres -->
  <div class="chapitre-card" *ngFor="let ch of listChapitre">
    <!-- Image du chapitre -->
    <img [src]="'http://localhost:8081/download/'+ch.coverPicture" alt="Image du chapitre">

    <!-- Contenu du chapitre -->
    <div class="chapitre-info">
      <h3>{{ ch.titre }}</h3>
      <p class="brief-description">{{ ch.description }}</p>
      <p class="duree">Durée estimée: {{ch.duration}} </p>
    </div>
    <button class="start-chapitre-btn" [routerLink]="getRouterLink(ch)"
      [disabled]="!chapitreStatus[ch.idChapitre] && ch.indexChapitre !== 1 ">
      Start Chapter
    </button>

    <div class="options">
      <!-- Bouton pour afficher le menu contextuel -->
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown(ch.idChapitre)">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div id="dropdown-{{ ch.idChapitre }}" class="dropdown-content">
          <button [routerLink]="['/courses/updateChapitre',currentId,ch.idChapitre]">Modifier</button>
          <button (click)="deleteChapitre(ch.idChapitre)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bouton "Ajouter un chapitre" -->
  <button class="add-chapitre-btn" [routerLink]="['/courses/create-chapitre', currentId]">+</button>
</div>