.btn-color {
    background-color: #FF9500;
    color: white;
}

.btn-save-color {
    background-color: #424242;
    color: white;
}

.card-body {
    padding: 15px;
}

.form-group label {
    font-weight: bold;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.modal-body {
    padding: 15px;
}