<div class="container-custom mt-5" *ngIf="quizDetails">
    <div class="quiz-container">
        <!-- Sidebar for Questions List -->
        <div class="questions-list">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let question of quizDetails.quiz.questions; let i = index"
                    (click)="navigateToQuestion(i)" [ngClass]="{
              'active': currentQuestionIndex === i, 
              'answered': isAnswered(i)
            }" style="cursor: pointer;">
                    Question {{ i + 1 }}
                    <span *ngIf="isAnswered(i)" class="tick-mark">✔</span>
                </li>
            </ul>
        </div>
        <!-- Main Content Area for Quiz -->
        <div class="card">
            <div class="card-header">
                <h2>{{ quizDetails.quiz.title }}</h2>
            </div>
            <div class="card-body" *ngIf="currentQuestion">
                <h4 class="card-title">Question {{ currentQuestionIndex + 1 }}: {{ currentQuestion.nameQuestion }}</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action"
                        *ngFor="let response of currentQuestion.responseList" (click)="selectAnswer(response)"
                        [ngClass]="{
                'active': selectedResponse === response,
                'selected': isSelectedResponse(response)
              }" style="cursor: pointer;">
                        {{ response.response }}
                    </li>
                </ul>
            </div>
            <div class="card-footer" *ngIf="!currentQuestion">
                <p class="lead">Quiz completed! Your score is: <strong>{{ score }}</strong></p>
                <button class="btn btn-primary" (click)="goHome()">Home</button>
            </div>
        </div>
    </div>
</div>