$primary-color: #FF9800; // Orange color
$secondary-color: #fff;
$highlight-color: #ffd180;
$grey-color: #6C757D; // Grey color
$background-color: #f8f9fa;

.quiz-container {
    display: flex;
    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questions-list {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 8px 0 0 8px;
}

.questions-list .list-group-item {
    background-color: $secondary-color;
    border: 1px solid $grey-color;
    margin-bottom: 10px;
    border-radius: 4px;
    color: $grey-color;
}

.questions-list .list-group-item.active {
    background-color: $primary-color;
    color: $secondary-color;
}

.questions-list .list-group-item.answered {
    font-weight: bold;
}

.questions-list .tick-mark {
    color: darken($primary-color, 20%);
    margin-left: 10px;
}

.card {
    flex: 3;
    border: none;
    border-radius: 0 8px 8px 0;
}

.card-header {
    background-color: $secondary-color;
    color: $grey-color;
    border-bottom: 2px solid $primary-color;
    padding: 20px;
    font-size: 1.5rem;
}

.card-body {
    padding: 20px;
}

.card-body .card-title {
    margin-bottom: 20px;
    color: $grey-color;
}

.card-body .list-group-item {
    background-color: $secondary-color;
    border: 1px solid $grey-color;
    margin-bottom: 10px;
    border-radius: 4px;
    color: $grey-color;
}

.card-body .list-group-item:hover {
    background-color: $highlight-color;
}

.card-body .list-group-item.selected {
    background-color: $primary-color;
    color: $secondary-color;
}

.card-footer {
    padding: 20px;
    background-color: $secondary-color;
    border-top: 2px solid $primary-color;
    border-radius: 0 0 8px 8px;
}

.card-footer p {
    margin: 0;
    color: $grey-color;
}

.card-footer .btn {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.card-footer .btn:hover {
    background-color: darken($primary-color, 10%);
}