<div class="container">
  <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" required [(ngModel)]="event.title" name="title">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" required [(ngModel)]="event.description" name="description"></textarea>
    </div>
    <div>
      <label for="eventDateTime">Event Date</label>
      <input type="date" id="eventDateTime" required [(ngModel)]="event.eventDateTime" name="eventDateTime">
    </div>
    <div>
      <label for="category">Category</label>
      <select id="category" required [(ngModel)]="event.category" name="category">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="checkbox_div">
      <label for="isOnline">Is Online</label>
      <input type="checkbox" id="isOnline" [(ngModel)]="event.isOnline" name="isOnline">
    </div>
    <div>
      <label for="nbrOfPlaces">Number of Places</label>
      <input type="number" id="nbrOfPlaces" required [(ngModel)]="event.nbrOfPlaces" name="nbrOfPlaces">
    </div>
    <button type="submit" [disabled]="!eventForm.form.valid">Add Event</button>
  </form>
</div>
