<div class="form-container">
  <h2>Créer un nouveau chapitre</h2>
  <form [formGroup]="chapterForm"  enctype="multipart/form-data">
    <div class="form-group">
      <label for="chapterTitle">Titre du chapitre</label>
      <input type="text" id="chapterTitle" formControlName="titre" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="videoFile">Fichier vidéo</label>
      <input type="file" id="videoFile" (change)="onVideoFileChange($event)" accept="video/*" class="form-control-file">
      <video *ngIf="videoPreviewUrl" [src]="videoPreviewUrl" controls class="preview-video"></video>
    </div>

    <div class="form-group">
      <label for="description">Description du chapitre</label>
      <textarea id="description" formControlName="description" rows="4" class="form-control" ></textarea>
    </div>

    <div class="form-group">
      <label for="pdfFile">Fichier PDF</label>
      <input type="file" id="pdfFile" (change)="onPdfFileChange($event)" accept=".pdf" class="form-control-file" >
      <!--embed *ngIf="pdfPreviewUrl" [src]="pdfPreviewUrl" type="application/pdf" width="100%" height="600px" class="preview-pdf" /-->
    </div>

    <button type="submit" (click)="save()" class="btn btn-primary">Créer le chapitre</button>
  </form>
</div>
