<div class="container">
    <div class="row text-center" style="justify-content: center; display: flex;">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br>
            <h2 style="color:#0fad00">Success</h2>
            <h3>your payment has been succesful</h3>
            <p style="font-size:20px;color:#5C5C5C;">You can go back and pass your quiz</p>
            <a routerLink="/quizz" class="btn btn-success">     Home     </a>
            <br><br>
        </div>

    </div>
</div>