<div class="container mt-5">
    <h2 class="text-center mb-4">Create Quiz</h2>
    <form [formGroup]="quizForm" (ngSubmit)="saveQuiz()">
        <div class="form-group">
            <label for="title">Quiz Title</label>
            <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="form-group mt-3">
            <label for="difficulty">Difficulty</label>
            <select id="difficulty" class="form-control" formControlName="difficulty">
                <option value="NORMAL">NORMAL</option>
                <option value="INTERMEDIATE">INTERMEDIATE</option>
                <option value="HARD">HARD</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group form-check mt-3">
            <input type="checkbox" id="certified" class="form-check-input" formControlName="certified">
            <label for="certified" class="form-check-label">Certified</label>
        </div>
        <div class="form-group mt-3">
            <label for="price">Price</label>
            <input type="number" id="price" class="form-control" formControlName="price">
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#questionModal">Add
                Question</button>
            <button type="submit" class="btn btn-save-color" [disabled]="questions.length < 1">Save Quiz</button>
        </div>

        <div class="mt-4" *ngFor="let question of questions; let i = index">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">Question {{i + 1}}</h5>
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeQuestion(i)">Remove</button>
                    </div>
                    <p class="card-text">{{question.nameQuestion}}</p>
                    <ul>
                        <li *ngFor="let response of question.responseList">{{response.response}}
                            ({{response.correctResponse ? 'Correct' : 'Incorrect'}})</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </form>

    <!-- Question Modal -->
    <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true"
        #questionModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="questionModalLabel">Add Question</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="questionForm">
                        <div class="form-group">
                            <label for="question">Question</label>
                            <input type="text" id="question" class="form-control" formControlName="nameQuestion">
                        </div>
                        <div formArrayName="responseList" class="mt-3">
                            <div class="form-group mt-3"
                                *ngFor="let response of questionResponses.controls; let i = index">
                                <label for="response-{{i}}">Response {{i + 1}}</label>
                                <input type="text" id="response-{{i}}" class="form-control" [formControlName]="i">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="radio" [formControl]="correctResponseControl"
                                        [value]="i">
                                    <label class="form-check-label">Correct Answer</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary mt-3" (click)="addResponse()">Add
                            Response</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-color" (click)="saveQuestion()"
                        [disabled]="!isQuestionFormValid()">Save Question</button>
                </div>
            </div>
        </div>
    </div>
</div>