.edit-dialog {
    width: 400px; /* Ajustez la largeur selon vos besoins */
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
  }
  
  button {
    margin-left: 8px;
  }
  