<article class="postcard dark red">
    <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="../../../assets/images/quiz-img.png" alt="Image Title" />
    </a>
    <div class="postcard__text" *ngIf="quizDetails">
        <h1 class="postcard__title red"><a href="#">{{ quizDetails.quiz.title }}</a></h1>
        <div class="postcard__subtitle small">
            <p class="date-color">{{ quizDetails.quiz.price }} DT</p>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis
            elementum mattis. Fusce et consequat erat. Maecenas eu vulputate enim. Cras eros mi, dapibus in bibendum
            sed, aliquam at mi. Donec et faucibus leo. Nunc consequat mauris in ex ultricies convallis. Aenean aliquam
            tortor sit amet orci hendrerit convallis eget non eros.

            Cras vitae aliquam sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Aliquam feugiat sodales cursus. Nunc fermentum, eros a placerat lobortis, libero augue auctor
            nulla, et dapibus arcu velit sed nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. In pretium nunc urna, vitae fringilla neque eleifend id. Nam congue eu lacus id
            tincidunt. Praesent vel auctor ante. Mauris arcu urna, porta et ullamcorper venenatis, sagittis quis elit.
            Praesent nec pharetra urna. Nulla quis mi odio. Integer id massa mollis, porttitor tellus eu, efficitur
            diam. Aenean ex libero, consectetur sit amet felis ac, rutrum tincidunt felis. Nullam porttitor ultrices
            arcu vitae sagittis. Duis tempor ut orci et gravida.</div>
        <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{ quizDetails.quiz.difficulty }}</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{ quizDetails.quiz.questions.length }} Minutes</li>
        </ul>
        <a class="btn btn-primary btn-full-width btn-color" (click)="click()">
            <ng-container *ngIf="quizDetails.score == -1">Get now</ng-container>
            <ng-container *ngIf="quizDetails.score != -1">Start Quiz</ng-container>
        </a>
    </div>
</article>
<div *ngIf="quizDetails != null && quizDetails.quiz != null">
    <app-leaderboard [quizId]="quizDetails.quiz.idQuiz"></app-leaderboard>
</div>